/*Body*/
body {
    background-image: url('popcorn3.jpg');

    background-repeat: no-repeat;

    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  /*header*/
  .navbar {
    background-color: #4ecdc4;
  }
  
  .navbar-brand {
    font-size: 33px;
  }
  
  form {
    text-align: center;
    color: white;
    max-width: 600px;
  }
  
  .betha-button {
    margin-top: 22px;
  }
  /*footer*/
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 15px;
    color: rgb(221, 133, 133);
    background-image: linear-gradient(rgb(255 255 255 / 15%), rgb(60 178 178 / 75%));
  }

  footer a
  {
    color: white;
  }
  
  #footerBetha {
    color: wheat;
  }
  /*container*/
  
  .card-img-top {
    height: 380px;
  }
  
  .card-body {
    padding-bottom: 3px;
  }
  
  .btn {
    margin-bottom: 10px;
    color: white;
  }
  
  .card {
    opacity: 1;
    border: 3px solid #fff;

    box-shadow: 0 2px 25px rgb(82 65 74 / 72%);
    padding: 10px;
  }

  .card:hover, .card:focus, .card:active {
    -webkit-transform: translateY(-8px);
    transform: translateY(-10px);
    transition: 0.3s;
  }