/*Body*/
body {
    background-image: url('popcorn3.jpg');

    background-repeat: no-repeat;

    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  /*header*/
  .navbar {
    background-color: #4ecdc4;
  }
  
  .navbar-brand {
    font-size: 33px;
  }
  
  form {
    text-align: center;
    color: white;
    max-width: 600px;
  }
  
  .betha-button {
    margin-top: 22px;
  }
  /*footer*/
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 15px;
    color: rgb(221, 133, 133);
    background-image: linear-gradient(rgb(255 255 255 / 15%), rgb(60 178 178 / 75%));
  }

  footer a
  {
    color: white;
  }
  
  #footerBetha {
    color: wheat;
  }
  /*container*/
  
  .card-img-top {
    height: 380px;
  }
  
  .card-body {
    padding-bottom: 3px;
  }
  
  .btn {
    margin-bottom: 10px;
    color: white;
    transform: translate(0%, 20%);
    animation-name: topBubbles;
  }
  
  .card {
    opacity: 1;
    border: 3px solid #fff;

    box-shadow: 0 2px 25px rgb(82 65 74 / 72%);
    padding: 10px;
  }

  .card:hover, .card:focus, .card:active {
    -webkit-transform: translateY(-8px);
    transform: translateY(-10px);
    transition: 0.3s;
  }



  @keyframes topBubbles {
    0% {
      background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
   }
    50% {
      background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
   }
    100% {
      background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
   }
  }
  @keyframes bottomBubbles {
    0% {
      background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
   }
    50% {
      background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
   }
    100% {
      background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
   }
  }

  .btn.animate:before {
    display: block;
    animation: topBubbles ease-in-out 0.75s forwards;
  }
  .btn.animate:after {
    display: block;
    animation: bottomBubbles ease-in-out 0.75s forwards;
  }

  .btn:before, .bubbly-button:after {
    position: absolute;
    content: '';
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
  }
